exportPattern("^[[:alpha:]]+")
importFrom("shapes", procOPA, procGPA,fcnt)
importFrom("gdata", unmatrix)
importFrom("MASS",ginv)
importFrom("pcaMethods", pca,completeObs)
importFrom("e1071", impute)
importFrom("miscTools",insertRow)
importFrom("stats", lm, na.omit, summary.lm, dist)
importFrom("rgl",plot3d,points3d)
importFrom("geomorph",two.d.array,arrayspecs)
